<h1>Charts built using Chart.js</h1>
<br /><br />

<h2>Sales Report</h2>

<div class="row">
  <!-- Line -->
  <div class="col-6">
    <h4>Line Chart</h4>
    <app-line-chart></app-line-chart>
  </div>

  <div class="col-6">
    <h4>Bar Chart</h4>
    <app-bar-chart></app-bar-chart>
  </div>
</div>

<br />
<hr />
<h2>Sales Report</h2>
<br />

<div class="row">
  <div class="col-6">
    <h4>Pie Chart</h4>
    <app-pie-chart></app-pie-chart>
  </div>

  <div class="col-6">
    <h4>Doughnut Chart</h4>
    <app-doughnut-chart></app-doughnut-chart>
  </div>

  <!--
      <div class="col-6">
        <h4>Bubble Chart</h4>
        <app-bubble-area-chart></app-bubble-area-chart>
      </div>
  
      <div class="col-6">
        <h4>Scatter Chart</h4>
        <app-scatter-area-chart></app-scatter-area-chart>
      </div> 
    -->
</div>
